@import url("fontello-icon_fonts_generator/css/fontello.css");
/*プレイリストのアイコン*/
.icon-playlist:before {
	content: "\f800"; 
	font-family: fontello;
}
/*マイリスのアイコン*/
.icon-heart:before
{
	content: "\f801"; 
	font-family: fontello;
}
/*updubのアイコン*/
.icon-arrow-up:before
{
	content: "\f802" !important; 
	font-family: fontello;
}
/*downdubのアイコン*/
.icon-arrow-down:before
{
	content: "\f803" !important; 
	font-family: fontello;
}
/*プライベートメッセージのアイコン*/
.icon-message:before {
	content: "\f804"; 
	font-family: fontello;
}
/*スキップのアイコン*/
.icon-skip:before {
	content: "\f805"; 
	font-family: fontello;
	font-size: 90%;
}
/*左上のLobbyとルーム名の間のアイコン*/
.icon-chevron:before {
	content: "\f806"; 
	font-family: fontello;
}
/*設定のアイコン*/
.icon-chatsettings:before {
	content: "\f807"; 
	font-family: fontello;
	font-size: 60%;
}
/*設定のサウンドのアイコン*/
.icon-volume-high:before {
	content: "\f808"; 
	font-family: fontello;
}
/*設定のミュートのアイコン*/
.icon-volume-mute:before {
	content: "\f809"; 
	font-family: fontello;
}
/*再生のアイコン*/
.icon-play:before {
	content: "\f80a"; 
	font-family: fontello;
	font-size: 120%;
}
/*停止のアイコン*/
.icon-pause:before {
	content: "\f80b"; 
	font-family: fontello;
}
/*チャットのアイコン*/
.icon-chat:before {
	content: "\f80c"; 
	font-family: fontello;
}
/*ユーザーリストのアイコン*/
.icon-people:before {
content: "\f80d"; 
	font-family: fontello;
}
/*フェイスブックのアイコン*/
.icon-facebook:before {
	content: "\f80e"; 
	font-family: fontello;
}
/*トィッターのアイコン*/
.icon-twitter:before {
	content: "\f80f"; 
	font-family: fontello;
}
/*履歴のアイコン*/
.icon-history:before {
	content: "\f810"; 
	font-family: fontello;
}
/*動画の枠下の音量のアイコン*/
.icon-sound-alt:before {
	content: "\f811"; 
	font-family: fontello;
}
/*動画枠下のミュートのアイコン*/
.icon-mute:before {
	content: "\f812"; 
	font-family: fontello;
}
/*動画非表示時のアイコン*/
#main_player .player_container #room-main-player-container:before, .icon-eye-blocked:before {
	content: "\f813"; 
	font-family: fontello;
}
/*動画表示のアイコン*/
.icon-eye-unblocked:before {
	content: "\f814"; 
	font-family: fontello;
}
/*動画のリロードのアイコン*/
.icon-reload:before {
	content: "\f815"; 
	font-family: fontello;
}
/*画像アップロードのアイコン*/
.icon-camera:before {
	content: "\f816"; 
	font-family: fontello;
}
/*リストを閉じるアイコン*/
/*#player-controller .right ul li .add-to-playlist-button .icon-arrow-down:before, 
#player-controller .right ul li .dubdown .icon-arrow-down:before,*/
.icon-downvote:before {
	content: "\f817"; 
	font-family: fontello;
}
/*Youtubeのアイコン*/
.icon-youtube:before {
	content: "\f818"; 
	font-family: fontello;
}
/*SoundCloudのアイコン*/
.icon-soundcloud:before {
	content: "\f819"; 
	font-family: fontello;
}
/*YoutubeとSoundCloudの検索切り替えのアイコン*/
.icon-arrow-dropdown:before {
	content: "\f81a"; 
	font-family: fontello;
	font-size: 20%;
}
/*インポートのアイコン*/
.icon-inbox:before {
	content: "\f81b"; 
	font-family: fontello;
}
/*リスト作成のアイコン*/
.icon-createplaylist:before,
.icon-add:before/*マイリス画面のリスト作成アイコン*/
{
	content: "\f81c"; 
	font-family: fontello;
}
/*キューのミキサーのアイコン*/
.icon-shuffle:before {
	content: "\f81d"; 
	font-family: fontello;
}
/*リストのトップに移動させるアイコン*/
.icon-angle-double-up:before {
	content: "\f81e"; 
	font-family: fontello;
}
/*リストの名前変更のアイコン*/
.icon-editplaylist:before {
	content: "\f81f"; 
	font-family: fontello;
}
/*名前変更保存のアイコン*/
.icon-save:before {
	content: "\f820"; 
	font-family: fontello;
}
/*ゴミ箱のアイコン*/
.icon-trash:before {
	content: "\f821"; 
	font-family: fontello;
}
/*閉じるアイコン*/
.icon-close:before {
	content: "\f822"; 
	font-family: fontello;
}
/*ロック解除状態のアイコン*/
.icon-unlocked:before {
	content: "\f823"; 
	font-family: fontello;
}
/*ロック状態のアイコン*/
.icon-lock:before {
	content: "\f824"; 
	font-family: fontello;
}
/*検索の虫眼鏡アイコン*/
.icon-search:before {
	content: "\f825";
	font-family: fontello;
}
/*********************************************/
#main_player .player_sharing span.icon-history:before {
	content: "\f12b";
	font-family: foundation-icons;
}
#chat .chat_tools span.icon-chatsettings {
	line-height: 0.5rem;
}
#main_player .player_header span.edit-room i {
	line-height: 0;
	padding-top: 8px;
	padding-left: 3.2px;
}
