/*#main_player .player_container #room-main-player-container .playerElement.soundcloud .artwork {
  
}*/
#main_player .player_container #room-main-player-container .playerElement.soundcloud .artwork {
  visibility: hidden;
  background: url("img/29380896_p0.jpg");
  /*position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;*/
}
