/*
    Custom CSS for Dubtrack.fm
    Plug Theme and UI improvements
    Originally made by @kris | Redone by @sinful
    https://dubtrack.fm/kris
    https://dubtrack.fm/sinful
*/
/*メイン画面の上のバー*/
#header-global {
	background: rgba(100,8,8,0.50);
}

/* Main Menu (left) 左のメニュー内の文字*/
#main-menu-left a.room-active-link {
	color: #FFFFFF;
    box-shadow: inset 4px 0px 0px 0px #AA74FE
}
/*わからん*/
#header-global .header-left-navigation:after {
	color: #FFFFFF; !important;
}
/* Main Menu (right) 右上のユーザネーム*/
#header-global .header-right-navigation .user-info span {
	color: #FFFFFF;
}

/* Top Header */
a, a:active, a:focus, a:hover,
#header-global .header-left-navigation a.room-active-link.active-room .icon-chevron, #header-global .header-left-navigation a.room-active-link.active-room .icon-chevron:hover {
	color: #FFFFFF;/*ロビーと部屋名、infoのURLリンク、リクエスト数とマイリス数、キューの一覧のミキサー、キューオール、ポーズ、クリア、ゴミ箱と↑印の色と他？*/
}

#main-loading {
	background: #B81A3E;/*ロビーに出るときのロード表示の色*/
}

#header-global .header-right-navigation .user-messages .message-counter {
	background: #FFFFFF;/*わからん*/
}

/* Private Messages プライベートメッセージ関連？*/
#private-messages .main-message-list ul.message-list li.message-item .message-content h3, #private-messages .message-details ul.message-list li.message-item .message-content h3,
#private-messages .main-message-list .message-header a, #private-messages .message-details .message-header a,
#private-messages .message-details ul.message-list li.message-item .message-content h3,
#private-messages .private-message-details-info, #private-messages .private-message-info {
	color: #AA74FE;
}
#private-messages .loading {
	background: #AA74FE;
}
#private-messages .main-message-list ul.message-list li.message-item.new-message:before, #private-messages .message-details ul.message-list li.message-item.new-message:before {
	background: #AA74FE;
}
#private-messages .main-message-list, #private-messages .message-details {
	background: #1A1A1A;
}

/* DubX Menu */
.for_content {
	background: #5C484D !important;/*dubXのメニューの背景色*/
}
.for_content_off {
	color: #FF3300 !important;/*dubXの文字の左のマーク色*/
}
.for_content_version, .for_content_p {
	color: #FFFFFF  !important;/*dubXの文字色*/
}

/** DubX Feature Menus **/
.onErr .container .control .confirm {
	background: #CD3740 !important;/*dubXの入力画面のOkayの背景色*/
}
.for_content_c {
	#color: #AA74FE !important;/*わからん*/
}

/* Bottom Header */
#player-controller .left ul li.infoContainer .infoContainerInner .progressBg {
	background:  #C41A41;/*再生時間のバーの色*/
	/*border-radius: 2.0rem;*/
}
/*.icon-play:before, .icon-playlist:before, .icon-history:before, */.icon-heart:before {
	color: #FF0000;/*再生ボタン、*/
}
/*updubsの文字色**********************************************************************************************************/
#player-controller .right ul li .dubup.voted {
	background: #64FF64;
}
/*dubup押した後の色*/
#player-controller .right ul li .dubup .icon-arrow-up/*, #player-controller .right ul li .dubup .dub-counter*/ {
	color: #00FF00;
}
/*downdubの文字色*/
#player-controller .right ul li .dubdown.voted {
	background: #6464FF;
}
/*downdub押した後の色***********************************************************************************************************************/
#player-controller .right ul li .dubdown .icon-arrow-down/*, #player-controller .right ul li .dubdown .dub-counter */{
	color: #0000FF;
}
/*メイン画面の下のバーの色*/
#player-controller .left ul li.imgEl, #player-controller .left ul li.infoContainer .infoContainerInner, #player-controller .left, #player-controller .right {
	background: rgba(100,8,8,0.25);
}

/* Add to Playlist ***************************************************************************/
#addToPlaylistFloatContainer .playlist-list-action li:hover {
	color: #AA74FE;
}
#addToPlaylistFloatContainer .create-playlist-input .icon-add {
	background: #AA74FE;
}

/* Lobby ロビー関連*/
span.name,
#room-list #container-room-list .room-item .current-song, #room-list #container-room-list .room-item .roomImage .join {
	color: #FFFFFF;
	opacity: 0.7;
}
#room-list #container-room-list .room-item .roomImage .join {
	background: #AA74FE;
}
#warning {
	background: #AA74FE;
	opacity: .90;
}

/* Video Player 動画の枠**************************************************************/
#main_player {
	background: rgba(100,8,8,0.50);
	border-radius: 2.0rem;
}
#main_player #custom_iframe_embed_error, #main_player .playbtn-el {
	background: #AA74FE;
}
/***********************************************************************************************/
#ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min {
	background: #FFFFFF;
}
/* Video Buttons (top) 画面枠の上の選択されてるボタンの色******************************/
#main_player .player_header span.active {
	background: #F43254;
	color: #000000;
	font-weight: 600;
}

/*わからん****************************************************************************/
#main_player .player_header span {
	border-radius: 2.0rem;
	background: rgba(100,8,8,0.50);
	font-weight: 600;
	color: #FFF;
}
#room-info-display .room-info-display-wrapper h2 span i {
	color: #AA74FE;
}
#mods-controllers .mods-controllers-main-wrapper .mod-controllers-headers a.active {
	#color: #42A5DC !important;
}

/* Video Buttons (bottom) ****************************************************/
#main_player .play-song-link {
	background: rgba(200,8,8,0.50);
	border-radius: 2.0rem;
}
#main_player .player_sharing .player-controller-container .volume-controller-container #volume-div .ui-slider-range-min,
#main_player .play-song-link .queue-info {
	background: #AA74FE;
}

/* Chat ****************************************/
#main-room .right_section, #profileMainSection {
	background: rgba(100,8,8,0.50);
	border-radius: 2.0rem;
}

}
/*上のアイコンにマウスを乗せた時の色*/
#chat .chat_tools span:hover {
	color:  #FFFFFF;
}
/*上のアイコンの下の線の色*/
#chat .chat_tools span:after {
	border-color: #991C38;
}
/*新しいコメントの通知の色？*/
#chat .pusher-chat-widget-input #new-messages-counter {
	background: #B40926;
}
/*わからん*/
#chat .chat-container .chat-messages .chat-main li .activity-row .text a.username {
	color: rgb(170, 170, 170);
}
/*わからん*/
#chat .chat-container ul.chat-main li .activity-row .text span.username-handle[style="color: rgba(255, 0, 255, 0.8);"] {
    color: #FFDD6F !important;
}
#chat .chat-container .chat-messages .chat-main li.chat-system-loading, #chat .chat-container .chat-messages .chat-main li.chat-welcome-message, #chat .chat-container .chat-messages .chat-main li.system, #chat .chat-container .chat-messages .chat-main li.system-error {
	font-size: 14px;
}

/*Ownerのユーザー名の文字色？*/
#chat .chat-main .isOwner .username,
#chat .chat-main .isOwner .username:hover,
#chat .chat-main .isOwner .username:visited{
    color: #C892FE !important;
}
/*Co-ownerのユーザー名の文字色？*/
#chat .chat-main .isCo-owner .username,
#chat .chat-main .isCo-owner .username:hover,
#chat .chat-main .isCo-owner .username:visited{
    color: #C892FE !important;
}
/*Managerのユーザー名の文字色？*/
#chat .chat-main .isManager .username,
#chat .chat-main .isManager .username:hover,
#chat .chat-main .isManager .username:visited{
    color: #C892FE !important;
}
/*Modのユーザー名の文字色？*/
#chat .chat-main .isMod .username,
#chat .chat-main .isMod .username:hover,
#chat .chat-main .isMod .username:visited{
    color: #C892FE !important;
}
/*Resident-djのユーザー名の文字色？*/
#chat .chat-main .isResident-dj .username,
#chat .chat-main .isResident-dj .username:hover,
#chat .chat-main .isResident-dj .username:visited{
    color: #C892FE !important;
}
/*Vipのユーザー名の文字色？*/
#chat .chat-main .isVip .username,
#chat .chat-main .isVip .username:hover,
#chat .chat-main .isVip .username:visited{
    color: #C892FE !important;
}

/** Admins **/
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username {
	color: #42A5DC !important;
}

/* DubX Owners */
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username {
    color: #89BE6C !important;
    text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}

/** Team **/
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-56030f67813abe030055f4a4 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .activity-row .text p a.username {
	color: #FF3657 !important;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}

/* User List */

/** Admin **/
#main_avatar_room #main-user-list-room #avatar-list li.admin p.username,
#main_avatar_room #main-user-list-room #avatar-list li.admin p.username:after {
	color: #42A5DC !important;
}

/** Moderators **/
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username,
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username,
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username,
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username,
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username:after {
	color: #AA74FE;
}

/** Current DJ **/
#main_avatar_room #main-user-list-room #avatar-list li.currentDJ p.username,
#main_avatar_room #main-user-list-room #avatar-list li.currentDJ p.username:after {
	color: #0FF;
}

/** Users **/
#main_avatar_room #main-user-list-room #avatar-list li p {
	color: #C8C8C8;
}

/** Upvote/Downvote **********************************************************/
ul.avatar-list li.updub {
	background: rgba(255,21,22,0.2);
	padding-left: 5px;
	padding-right: 5px;
}
ul.avatar-list li.downdub {
	background: rgba(22,21,255,0.2);
	padding-left: 5px;
	padding-right: 5px;
}

/** Team **/
ul.avatar-list li.user-kris p.dubs:before,
ul.avatar-list li.user-al3366 p.dubs:before,
ul.avatar-list li.user-ciscog p.dubs:before {
	content: "DubX Team  -  ";
	font-weight: 700 !important;
	color: #FF3657 !important;
}
ul.avatar-list li.co-owner.user-kris:after, ul.avatar-list li.co-owner.user-al3366  :after, ul.avatar-list li.co-owner.user-ciscog:after,
ul.avatar-list li.creator.user-kris:after, ul.avatar-list li.creator.user-al3366  :after, ul.avatar-list li.creator.user-ciscog:after,
ul.avatar-list li.manager.user-kris:after, ul.avatar-list li.manager.user-al3366  :after, ul.avatar-list li.manager.user-ciscog:after,
ul.avatar-list li.mod.user-kris:after, ul.avatar-list li.mod.user-al3366  :after, ul.avatar-list li.mod.user-ciscog:after,
ul.avatar-list li.vip.user-kris:after, ul.avatar-list li.vip.user-al3366  :after, ul.avatar-list li.vip.user-ciscog:after,
ul.avatar-list li.resident-dj.user-kris:after, ul.avatar-list li.resident-dj.user-al3366  :after, ul.avatar-list li.resident-dj.user-ciscog:after,
ul.avatar-list li.currentDJ .user-kris:after, ul.avatar-list li.currentDJ .user-al3366  :after, ul.avatar-list li.currentDJ .user-ciscog:after,
.user-kris, .user-al3366, .user-ciscog,
.user-kris p.username, .user-al3366 p.username, .user-ciscog p.username {
    color: #FF3657 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-ciscog p.username:after {
	color: #FF3657 !important;
}

/* Settings *******************************************************************************************************/
#chat .chat-options .chat-option-buttons span.active i, #chat .chat-options .chat-option-buttons span:hover {
	color: #00BFFF;/*設定にあるボタンにマウスを乗せた時の色*/
}

/* Queue ****************************************************************************************************/
#browser .browser-content .browser-content-header .close-browser,/*キューリストを閉じるV印*/
#browser .browser-content .browser-content-main .nano .loading,/*キューリストのロード表示*/
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .display-success,/*動画をキューに入れた時の成功した時の表示*/
#browser .browser-content #import-playlist-container .close-import-playlist/*インポートプレイリスト画面の閉じる×印*/ {
	background: #BE003F;
}
#browser .browser-content .browser-content-main .sidebar #playlists-scroll .playlist-style li.selected,
#import-playlist-container .import-playlist-youtube span {
	background: #fff;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .description .preview,
#browser .browser-content .browser-content-main .sidebar .import-playlist span,
#browser .browser-content .browser-content-main .sidebar .create-playlist .create-playlist-display span,
#browser .browser-content #import-playlist-container .playlist-type-select span:hover {
	color: #AA74FE;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item.selected,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item.selected {
	border: 1px solid #AA74FE;
}

/* Preview */
.playerPreview .controlContainer .progressContainer .loaded, .playerPreview .controlContainer .progressContainer .progress,
.playerPreview .ui-slider-range {
	background: #AA74FE;
}
.playerPreview .ui-slider-handle {
	background: #AA74FE;
}

/* Room Info */
#roomInfoModal .modal-header h3, #roomFormUpdate .mid a, #roomInfoModal .mid a {
	color: #AA74FE;
}

/* User */
span.usernameContainer, .followers-counter,
#profileMainSection .profileView .header .pictureContainer .updatePictureGif {
	color: #AA74FE;
}
#profileMainSection .profileView .infoProfile .edit-btn, #profileMainSection .profileView .infoProfile .follow-btn {
	color: #AA74FE;
	border: 2px solid #AA74FE;
}
/*プロフィールの色
#profileMainSection .profileView .header .pictureContainer .updatePictureGif {
	width: 101%;
	height 101%;
	background: #AA74FE;
}
*/
#user_popover .actions, #user_popover .global-actions, #user_popover {
	background: #AA74FE;
	opacity: .95;
}
#user_popover .global-actions a, #user_popover .usercontent header .dubs, #user_popover .usercontent header h3 {
	color: #393A39;
}
#user_popover .global-actions a {
	outline: 1px solid #393A39;
}
#user_popover .actions a {
	color: #3D3C43;
	outline: 1px solid #3D3C43;
}
#user_popover .actions a input {
	background: rgba(61, 60, 67, 0.69);
}
