
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-star-half-alt:before { content: '\e801'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e802'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-to-end:before { content: '\e805'; } /* '' */
.icon-right:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-bell-alt:before { content: '\e808'; } /* '' */
.icon-bell-off:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-pause:before { content: '\e80b'; } /* '' */
.icon-chat:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-facebook:before { content: '\e80e'; } /* '' */
.icon-twitter:before { content: '\e80f'; } /* '' */
.icon-back-in-time:before { content: '\e810'; } /* '' */
.icon-volume-up:before { content: '\e811'; } /* '' */
.icon-volume-off:before { content: '\e812'; } /* '' */
.icon-eye-off:before { content: '\e813'; } /* '' */
.icon-eye:before { content: '\e814'; } /* '' */
.icon-cw:before { content: '\e815'; } /* '' */
.icon-camera:before { content: '\e816'; } /* '' */
.icon-down-open:before { content: '\e817'; } /* '' */
.icon-youtube-play:before { content: '\e818'; } /* '' */
.icon-soundcloud:before { content: '\e819'; } /* '' */
.icon-down-dir:before { content: '\e81a'; } /* '' */
.icon-download:before { content: '\e81b'; } /* '' */
.icon-plus:before { content: '\e81c'; } /* '' */
.icon-shuffle:before { content: '\e81d'; } /* '' */
.icon-angle-double-up:before { content: '\e81e'; } /* '' */
.icon-pencil:before { content: '\e81f'; } /* '' */
.icon-floppy:before { content: '\e820'; } /* '' */
.icon-trash:before { content: '\e821'; } /* '' */
.icon-cancel:before { content: '\e822'; } /* '' */
.icon-lock-open:before { content: '\e823'; } /* '' */
.icon-lock:before { content: '\e824'; } /* '' */