
.icon-fontello-th-list:before { content: '\f800'; } /* '' */
.icon-fontello-star-half-alt:before { content: '\f801'; } /* '' */
.icon-fontello-thumbs-up-alt:before { content: '\f802'; } /* '' */
.icon-fontello-thumbs-down-alt:before { content: '\f803'; } /* '' */
.icon-fontello-mail-alt:before { content: '\f804'; } /* '' */
.icon-fontello-to-end:before { content: '\f805'; } /* '' */
.icon-fontello-right:before { content: '\f806'; } /* '' */
.icon-fontello-cog:before { content: '\f807'; } /* '' */
.icon-fontello-bell-alt:before { content: '\f808'; } /* '' */
.icon-fontello-bell-off:before { content: '\f809'; } /* '' */
.icon-fontello-play:before { content: '\f80a'; } /* '' */
.icon-fontello-pause:before { content: '\f80b'; } /* '' */
.icon-fontello-chat:before { content: '\f80c'; } /* '' */
.icon-fontello-users:before { content: '\f80d'; } /* '' */
.icon-fontello-facebook:before { content: '\f80e'; } /* '' */
.icon-fontello-twitter:before { content: '\f80f'; } /* '' */
.icon-fontello-back-in-time:before { content: '\f810'; } /* '' */
.icon-fontello-volume-up:before { content: '\f811'; } /* '' */
.icon-fontello-volume-off:before { content: '\f812'; } /* '' */
.icon-fontello-eye-off:before { content: '\f813'; } /* '' */
.icon-fontello-eye:before { content: '\f814'; } /* '' */
.icon-fontello-cw:before { content: '\f815'; } /* '' */
.icon-fontello-camera:before { content: '\f816'; } /* '' */
.icon-fontello-down-open:before { content: '\f817'; } /* '' */
.icon-fontello-youtube-play:before { content: '\f818'; } /* '' */
.icon-fontello-soundcloud:before { content: '\f819'; } /* '' */
.icon-fontello-down-dir:before { content: '\f81a'; } /* '' */
.icon-fontello-download:before { content: '\f81b'; } /* '' */
.icon-fontello-plus:before { content: '\f81c'; } /* '' */
.icon-fontello-shuffle:before { content: '\f81d'; } /* '' */
.icon-fontello-angle-double-up:before { content: '\f81e'; } /* '' */
.icon-fontello-pencil:before { content: '\f81f'; } /* '' */
.icon-fontello-floppy:before { content: '\f820'; } /* '' */
.icon-fontello-trash:before { content: '\f821'; } /* '' */
.icon-fontello-cancel:before { content: '\f822'; } /* '' */
.icon-fontello-lock-open:before { content: '\f823'; } /* '' */
.icon-fontello-lock:before { content: '\f824'; } /* '' */